.footer__main {
  padding-top: 140px;
}

.footer__container {
  width: 100%;
  max-width: 1330px;
  margin-inline: auto;
}

.footer__main {
  background-color: var(--color-dark);
}

.footer__heading {
  display: flex;
  column-gap: 63px;
  margin-bottom: 60px;
}

.footer__link,
.contacts__link {
  text-decoration: none;
  color: var(--color-light);
}

.footer__description {
  width: 100%;
  max-width: 830px;
  font-size: 20px;
  line-height: calc(33 / 20);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--color-light);
}

.footer__body {
     display: flex;
     justify-content: space-between;
     align-items: start;
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  padding-bottom: 140px;
}

.footer__column {
  &:not(:last-child) {
    width: 240px;
  }

  &:last-child {
    width: 300px;
  }
}

.column__title {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: calc(38 / 22);
  font-weight: 700;
}

.column-2 p:not(:last-child) {
  margin-bottom: 15px;
}

.column__text {
  line-height: calc(28 / 16);
  letter-spacing: 0.8px;
  font-weight: 300;
  color: var(--color-light);
}

.column-4 .column__title {
  display: flex;
  align-items: center;
  column-gap: 8px;

  &::after {
    content: "";
    display: block;
    width: 17px;
    aspect-ratio: 1;
    background: url("../../icons/bold-arrow-down-right.svg") center/contain
      no-repeat;
    rotate: 90deg;
  }
}

.column__address {
  margin-bottom: 35px;
  line-height: calc(28 / 16);
  font-style: normal;
  letter-spacing: 0.8px;
  font-weight: 300;
  color: var(--color-light);
}

.column__input-wrapper {
  position: relative;
  margin-bottom: 50px;
}

.column__input {
  padding-right: 55px;
}

.column__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 54px;
  aspect-ratio: 1;
  background: url("../icons/btn-arrow-up-right.svg") center no-repeat;
  border: var(--border);
  border-radius: 50%;
  &:hover {
    border-color: var(--color-light-gray);
  }
}

.socials__list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: #c4c4c453;
  }
}

.footer__extra {
  padding-block: 15px;
  background-color: var(--color-dark-alternate);
}

.extra__description {
  display: flex;
  column-gap: 5px;
  font-size: 14px;
  line-height: calc(28 / 14);
  font-weight: 300;
  text-decoration: none;
  color: var(--color-light);
  text-transform: capitalize;
}

.extra__link {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: var(--color-light);

  &::before {
    content: "";
    height: 14px;
    width: 1px;
    background-color: var(--color-light);
  }
}

// ====media====== //
@media screen and (max-width: 1493px) {
  .footer__container {
    padding-inline: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__main {
    padding-top: 50px;
  }

  .footer__heading {
    margin-bottom: 40px;
    align-items: center;
  }

  .footer__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

  }
  .footer__column {
    text-align: center;
    justify-self: center;
  }
  .column-4 .column__title {
    justify-self: center;
  }

  .socials__list {
    justify-content: center;
  }

  .footer__body {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    padding-inline: 15px;
  }

  .footer__heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 25px;
  }

  .footer__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
