.trainings {
  position: relative;
  padding: var(--section-padding-block) 75px;
  background-color: var(--color-dark);
}
.trainings__list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 151px);
  justify-content: space-between;
  height: auto;
}

.trainings__link {
  position: relative;
  display: block;
  font-size: clamp(12px, 0.83vw, 16px);
  font-weight: 700;
  line-height: calc(28 / 16);
  letter-spacing: 0.8px;
  color: var(--color-light);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: var(--transition-duration);

  &::after {
    --arrowIcon: url("../../icons/transparent-arrow-down-left.svg");

    position: absolute;
    display: block;
    width: 80px;
    aspect-ratio: 1;
    top: -78px;
    right: -73px;
    content: "";
    background: var(--arrowIcon) 100% 0 / 80px no-repeat;
    transition-duration: var(--transition-duration);
  }

  &:hover {
    color: var(--color-light-gray);
  }
}

.trainings__img {
  margin-bottom: 32px;
}

@media screen and (max-width: 1439px) {
  .trainings {
    padding-inline: 32px;
  }

  .trainings__list {
    grid-template-columns: repeat(3, 151px);
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
    row-gap: 90px;
  }

  .trainings__link::after {
    --arrowSize: clamp(60px, 5.56vw, 80px);
    background-size: var(--arrowSize);
    width: var(--arrowSize);
    top: -5.42vw;
    right: -5.07vw;
  }
}

@media screen and (max-width: 767px) {
  .trainings__list {
    grid-template-columns: repeat(3, 76px);
    grid-template-rows: repeat(2, 123px);
    row-gap: 70px;
  }
  
  .trainings__link::after {
    --arrowSize: clamp(40px, 7.82vw, 60px);
    background-size: var(--arrowSize);
    width: var(--arrowSize);
    top: -7.42vw;
    right: -8.07vw;
  }
  
  .trainings__img {
    height: 71px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .trainings {
    
    padding-inline: 15px;
   
  }

  .trainings__list {
    grid-template-columns: repeat(2, 76px);
    grid-template-rows: repeat(3, 123px);
    row-gap: 70px;
  }
}