.title--big {
  display: flex;
  justify-content: center;
  font-size: clamp(24px, 3.13vw, 60px);
  line-height: calc(72 / 60);

  &.title-backdrop::before{
    align-self: start;
    margin-right: 7px;
    width: clamp(26px, 1.77vw, 34px);
    aspect-ratio: 1;
  }
  
  &.title-backdrop::after{
    font-size: 3em;
  }

}