.title {
  margin-bottom: 15px;
  font-size: clamp(20px, 2.1vw, 40px);
  line-height: calc(52 / 40);

  &.title-backdrop::before{
    position: absolute;
    top: -2px;
    right: calc(100% + 5px);
    width: clamp(13px, 1.35vw, 26px);
    aspect-ratio: 1;
  }
  
  &.title-backdrop::after{
    font-size: 2.8em;
  }
}


